# =========================
# BUILD FILES
# =========================
target/
build/

# =========================
# ENV FILES
# =========================
.env
.env.*
!.env.example

# =========================
# LOG FILES
# =========================
*.log
logs/

# =========================
# MAVEN
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE - IntelliJ
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# IDE - Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# IDE - VS Code
# =========================
.vscode/

# =========================
# NETBEANS
# =========================
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# MISC
# =========================
HELP.md
__MACOSX/